html, body, #root {
    margin: auto;
}

.header-color {
    background-color: #212121;
}

.landing-content {
    width: 100%;
}

.even-elem {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center
}

.avatar-img {
    height: 250px;
    padding-top: 5em;
}

.banner-text {
    width: 75%;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
}

.landing-grid {
    padding-top: 5%;
}

.customIcon {
    color: white;
    background: black;
    padding: 10px;
    border-radius: 10%;
}

.customIconXs {
    color: white;
    background: #303f9f;
    padding: 5px;
    border-radius: 10%;
}

.banner-link a {
    margin-right: 2em;
}

.banner-link-about a {
    margin: .25em;
}

a.active {
    color: orangered !important;
}

.banner-link-about {
    padding-top: .25em;
}

.banner-text p {
    margin: .5em 0 .5em 0;
}

.banner-text h3 {
    font-size: 48px;
    font-weight: bold;
    margin: 0 !important;
}